#logo {
  height: 120px;
  width: 100%;

  @media screen and (orientation: portrait) {
    height: 10vh;
  }

  @media screen and (orientation: landscape) and (max-height:414px) {
    height: 10vh;
  }
}