#logo {
  height: 120px;
  width: 100%; }
  @media screen and (orientation: portrait) {
    #logo {
      height: 10vh; } }
  @media screen and (orientation: landscape) and (max-height: 414px) {
    #logo {
      height: 10vh; } }
