.tile-none {
  display: none; }

.tile-displayed {
  min-width: 480px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid rgba(38, 228, 168, 0.3);
  padding: 30px;
  font-family: 'Exo', Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-row: 3/3; }
  @media screen and (orientation: portrait) and (max-width: 767px) {
    .tile-displayed {
      flex-direction: column;
      min-width: 100%;
      padding: 30px 20px 20px 20px;
      background-color: rgba(255, 255, 255, 0.1); } }
  @media screen and (orientation: landscape) and (max-height: 414px) {
    .tile-displayed {
      background-color: rgba(255, 255, 255, 0.1); } }
  @media screen and (orientation: portrait) and (min-width: 768px) {
    .tile-displayed {
      min-width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      flex-direction: column; } }

.tile-city {
  font-size: 3em;
  color: #26e4a8;
  margin: 0;
  text-align: start;
  line-height: 1em; }
  @media screen and (orientation: portrait) and (max-width: 767px) {
    .tile-city {
      font-size: 2.5em;
      text-align: center; } }
  @media screen and (orientation: landscape) and (max-height: 414px) {
    .tile-city {
      font-size: 2.5em; } }
  @media screen and (orientation: portrait) and (min-width: 768px) {
    .tile-city {
      text-align: center;
      font-size: 4em; } }

.tile-country {
  font-size: 1.5em;
  color: #26e4a8;
  text-align: start;
  margin: 0;
  font-weight: 100; }
  @media screen and (orientation: portrait) and (max-width: 767px) {
    .tile-country {
      text-align: center; } }
  @media screen and (orientation: portrait) and (min-width: 768px) {
    .tile-country {
      text-align: center;
      font-size: 2em; } }

.description {
  font-size: 1em;
  text-transform: uppercase; }

.city-name-container {
  max-width: 60%; }
  @media screen and (orientation: portrait) {
    .city-name-container {
      max-width: 100%; } }

.weather-data {
  text-align: start;
  margin-left: 50px; }
  @media screen and (orientation: portrait) {
    .weather-data {
      text-align: center;
      margin: 20px 0; } }

.temp {
  color: white;
  font-size: 3em;
  margin: 0;
  line-height: 1em;
  margin-bottom: 5px; }
  @media screen and (orientation: portrait) and (max-width: 767px) {
    .temp {
      font-size: 2.5em; } }
  @media screen and (orientation: landscape) and (max-height: 414px) {
    .temp {
      font-size: 2.5em; } }
  @media screen and (orientation: portrait) and (min-width: 768px) {
    .temp {
      font-size: 4em;
      margin-top: 0.8em; } }

.description,
.humidity {
  color: #d35e5e;
  margin: 0; }
  @media screen and (orientation: portrait) and (min-width: 768px) {
    .description,
    .humidity {
      font-size: 1.5em; } }
