.title {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.75);
  margin: 5% auto 0 auto;
  line-height: .8em;
}

.title-sub {
  font-family: "Grand Hotel", cursive;
  color: rgba(255, 255, 255, 0.85);
  font-size: 3em;
  text-align: center;
  margin-top: 0;
}