.background {
  background: linear-gradient(to bottom, rgba(11, 1, 12, 0.7) 0%, rgba(222, 75, 49, 0.5) 100%), url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
