.logo {
  height: 15vh;
}

.title {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 6em;
}

.background {
  background: linear-gradient(to bottom, rgba(177,101,184,.5) 0%, rgba(222,75,49,.5) 100%), url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}